@use "../variables";
@use "../breakpoints";

$s: 5px;

.burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  width: $s*10;
  height: $s*8.5;

  &__wrapper {
    cursor: pointer;
    display: flex;
    height: 100%;
  }

  &.active {
    .burger__wrapper {

      .hamburger {
        background: transparent;

        &:after, &:before {
          transition: top 300ms 50ms ease,
          transform 300ms 350ms ease;
          top: 0;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $s*8;
    height: $s - 1;
    position: relative;
    background: variables.$black;
    border-radius: variables.$radius5;
    transition: background 6ms 150ms ease;
    transform: translateY($s*4);

    &:before, &:after {
      transition: top 300ms 200ms ease,
      transform 300ms 50ms ease;
      position: absolute;
      background: variables.$black;
      border-radius: variables.$radius5;
      width: $s*8;
      height: $s - 1;
      content: '';
    }

    &:before {
      top: $s*-2;
    }

    &:after {
      top: $s*2;
    }
  }

}
