@use "../variables";
@use "../breakpoints";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  line-height: 1;

  &.primary {
    font-weight: 600;
    color: variables.$white;
    background-color: variables.$accent;
  }

  &.large {
    border-radius: variables.$borderRadius10;
    font-size: 1.6rem;
    padding: 1.2rem 2.2rem;

    @include breakpoints.tablet {
      border-radius: variables.$borderRadius15;
      font-size: 2rem;
      padding: 1.4rem 3rem;
    }
  }

  &.medium {
    border-radius: variables.$borderRadius15;
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }

  &.small {
    border-radius: variables.$borderRadius15;
    font-size: 1.4rem;
    padding: .5rem 1rem;
  }
}
