@use "../variables";
@use "../breakpoints";

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
  padding-block: 1rem;
  pointer-events: all;
  background-color: variables.$white;
  transition: opacity variables.$transition, visibility variables.$transition, transform variables.$transition2;

  @include breakpoints.mobile-normal {
    padding-block: 1.5rem;
  }

  &.hide {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15rem);
  }

  &__container {
  }

  &__body {
  }

  &__grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0 3rem;

    @include breakpoints.mobile-normal {
      grid-template-columns: auto 21rem 5rem;
    }

    @include breakpoints.desktop-semi {
      grid-template-columns: auto 1fr auto;
      justify-content: space-between;
      gap: 0 5rem;
    }
  }

  &__logo {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0 .5rem;
    max-width: max-content;

    &--img {
      max-width: 3rem;

      @include breakpoints.tablet {
        max-width: 4rem;
      }
    }

    &--text {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;

      @include breakpoints.tablet {
        margin-top: 2rem;
      }

      span {

        &:nth-child(1) {
          font-size: 1.8rem;
          color: variables.$gold;

          @include breakpoints.tablet {
            font-size: 2.2rem;
          }
        }

        &:nth-child(2) {
          font-size: 1.4rem;
          text-transform: uppercase;
          font-weight: 600;
          color: variables.$accent;

          @include breakpoints.tablet {
            font-size: 1.5rem;
          }
        }
      }
    }

    &:hover {
      .header__logo--img {
        @include variables.tilt-shaking-animation();
      }
    }
  }

  &__nav {
    display: none;

    @include breakpoints.desktop-semi {
      display: block;
    }

    &--list {
      display: flex;
      align-items: center;
      gap: 3rem;
      justify-content: center;
    }

    &--item {

    }

    &--link {
      font-weight: 600;
      font-size: 2rem;
      line-height: 3.5;
      text-align: center;
      color: variables.$black;
      position: relative;
      max-width: max-content;
      padding-block: 1rem;
      white-space: nowrap;

      &:hover {
        color: variables.$accent;
      }
    }
  }

  &__button-record {
    //max-width: 20rem;
    display: none !important;
    margin-left: auto;

    @include breakpoints.mobile-normal {
      display: flex !important;
    }
  }

  &__burger {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;

    @include breakpoints.desktop-semi {
      display: none;
    }
  }
}


.mobile-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  margin: 0 auto;
  width: 100%;
  height: 45%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.65) translateY(45%);
  border-radius: 100%;
  transform-origin: center bottom;
  //background-color: variables.$white;
  background-color: #fffffff7;
  overflow: hidden;
  transition: transform variables.$transition2, opacity variables.$transition2, visibility variables.$transition2, border-radius variables.$transition2, height variables.$transition2;

  &.active {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: scale(1) translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__body {
    padding: 8rem 2rem 2rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nav {}

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &--item {}

    &--link {
      font-size: 3rem;
      font-weight: 600;
      color: variables.$black;

      @include breakpoints.mobile-min {
        font-size: 4rem;
      }

      &:hover,
      &.active {
        color: variables.$accent;
      }
    }
  }

  &__record-button {
    margin-top: 8rem;

    @include breakpoints.mobile-normal {
      display: none;
    }
  }
}
