@use "../variables";
@use "../breakpoints";

.promo-banner {
  position: relative;
  box-shadow: 0 0 3rem #8b8b8b36;
  border-radius: variables.$borderRadius15;
  background-color: variables.$white;
  overflow: hidden;

  &__body {
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "info info value"
                          "description description description"
                          "button-record button-record button-record";
    gap: 0 1rem;

    @include breakpoints.mobile-normal {
      gap: 0 2rem;
      align-items: center;
      grid-template-columns: auto auto auto;
      grid-template-areas: "info info value"
                          "description description value"
                          "button-record button-record button-record";
    }

    @include breakpoints.desktop-min {
      padding: 5rem 2rem;
      gap: 0 4rem;
      grid-template-columns: auto auto 25rem;
      grid-template-areas: "info value button-record"
                            "description value button-record";
      justify-content: center;
    }
  }

  &__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-weight: 600;
      font-size: 1.7rem;
      line-height: 1.65;
      color: variables.$black;

      @include breakpoints.mobile-normal {
        font-size: 2rem;
      }

      @include breakpoints.desktop-min {
        font-size: 2.2rem;
      }
    }

    &--promocode {
      text-transform: uppercase;
    }
  }

  &__description {
    grid-area: description;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgba(51, 51, 51, 0.5);

    @include breakpoints.mobile-normal {
      font-size: 2rem;
      margin-top: .5rem;
    }

    @include breakpoints.desktop-min {
      font-size: 1.8rem;
    }
  }

  &__value {
    grid-area: value;
    font-weight: 700;
    font-size: 5rem;
    line-height: 0.875;
    color: #ff0101;

    @include breakpoints.tablet {
      font-size: 6.5rem;
    }
  }

  &__button-record {
    grid-area: button-record;
    margin-top: 1rem;

    @include breakpoints.tablet {
      max-width: 30rem;
    }

    @include breakpoints.desktop-min {
      text-align: center;
      margin-top: 0;
    }
  }

  &__note {
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid variables.$accent;
    border-radius: 100%;
    padding: .25rem;
    line-height: 1;
    width: 2.5rem;
    height: 2.5rem;
    transition: transform variables.$transition;

    &:hover {
      transform: scale(1.1);
    }
  }
}
