@use "variables";
@use "breakpoints";

.h2,
.payload-richtext h2 {
  font-weight: 600;
  font-size: 4.8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
}

.h3,
.payload-richtext h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;

  @include breakpoints.mobile-normal {
    font-size: 2.8rem;
  }

  @include breakpoints.tablet {
    font-size: 3.4rem;
  }

  @include breakpoints.desktop-normal {
    font-size: 4.6rem;
  }
}
