@use "variables";
@use "breakpoints";


.h3 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.2;

  @include breakpoints.tablet {
    font-size: 3.4rem;
  }

  @include breakpoints.desktop-normal {
    font-size: 4.6rem;
  }
}
