@use "../../variables";

.dev-block {
  display: block;
  text-align: center;
  height: 100%;
  max-height: calc(100vh - 50%);
  padding-block: 15rem;
  font-family: variables.$ff-main;

  &__wrap {}

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    span {
      font-size: clamp(2rem, 3vw, 3rem);
    }

    h1 {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      text-transform: uppercase;
      font-size: clamp(4rem, 7vw, 7rem);
    }

    h2 {
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: 600;
    }
  }

  &__alarm {
    margin-top: 2rem;
    display: block;
    color: variables.$accent;
    font-size: clamp(2rem, 3vw, 4rem);
  }

  &__contacts {
    margin-top: 3rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: variables.$borderRadius5;
      background-color: variables.$accent;
      width: 10rem;
      height: 10rem;

      .icon {
        width: 100%;
        height: 100%;
        color: #004c9d;
      }
    }
  }
}