@use "../../variables";
@use "../../breakpoints";

.main-banner {
  padding-block: 1rem;

  @include breakpoints.tablet {
    padding-block: 3rem;
  }


  &__body {
  }

  &__swiper {

    .swiper {
      padding-bottom: 3rem;

      .swiper-wrapper {
        align-items: stretch;
      }

      .swiper-slide {
        height: auto;
        transition-timing-function: linear;
      }

      .swiper-pagination {
        top: auto;
        bottom: 0.5rem;

        .swiper-pagination-bullet {
          height: .5rem;
          width: 1.5rem;
          border-radius: variables.$borderRadius10;
          transition: width variables.$transition;
        }

        .swiper-pagination-bullet-active {
          background-color: variables.$accent;

          width: 3rem;
        }
      }
    }
  }

  &__slide {
    display: flex;
    height: 100%;

    .container {
      height: 100%;
    }

    &--grid {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "images"
                            "text";
      align-items: stretch;
      justify-content: space-between;
      gap: 2rem 0;

      @include breakpoints.mobile-min {
        gap: 3rem 0;
      }

      @include breakpoints.tablet {
        grid-template-columns: 1fr .8fr;
        grid-template-rows: none;
        gap: 0 5rem;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      //padding-bottom: 3rem;
    }

    &--text {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      grid-area: text;
      //padding-bottom: 5rem;

      @include breakpoints.tablet {
        grid-area: auto;
        margin-top: 7rem;
        max-width: 70rem;
      }

      h3 {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.2;

        @include breakpoints.tablet {
          font-size: 3.2rem;
        }

        @include breakpoints.desktop-min {
          font-size: 4.6rem;
        }
      }

      p {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.7;
        color: rgba(51, 51, 51, 0.7);

        @include breakpoints.mobile-min {
          font-size: 1.8rem;
          margin-top: 2.5rem;
        }

        @include breakpoints.desktop-min {
          font-size: 2rem;
        }
      }
    }

    &--action {
      margin-top: auto;

      @include breakpoints.tablet {
        max-width: 30rem;
      }
    }

    &--images {
      position: relative;
      grid-area: images;
      max-height: calc(100vh - 50%);
      height: 100%;

      @include breakpoints.tablet {
        grid-area: auto;
        padding-left: 7rem;
        max-height: none;
        height: auto;
      }

      img {
        border-radius: variables.$borderRadius30;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      & [data-image='primary'] {
        max-width: 60%;
        margin-left: auto;

        @include breakpoints.mobile-min {

        }

        @include breakpoints.tablet {
          min-width: 30rem;
          min-height: 30rem;
          height: calc(100% - 7rem) ;
          max-width: 70%;
          //max-height: 80%;
          margin-top: 7rem;
        }
      }

      & [data-image='secondary'] {
        aspect-ratio: 1 / 1;

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        margin: auto 0;
        height: 95%;
        width: auto;


        /*@include breakpoints.mobile-min {
          min-width: 19rem;
          min-height: 19rem;
        }*/

        @include breakpoints.tablet {
          bottom: auto;
          min-width: 19rem;
          min-height: 19rem;
          max-width: 50%;
          max-height: 50%;
        }
      }

    }
  }

  &__nav {
    display: none;

    &--body {
      display: flex;
      align-items: center;
      gap: 0 2rem;
    }

    &--btn {
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;

      @include breakpoints.tablet {
        width: 5rem;
        height: 5rem;
        padding: 1rem;
      }

      &:hover {
        .icon {
          color: variables.$accent;
        }
      }

      .icon {
        width: 100%;
        height: 100%;
        color: rgba(34, 34, 34, 0.7);
      }

      &.prev {
        transform: rotate(-180deg);
      }

      &.next {}
    }
  }
}
